<%= form_for translation, url: {action: "create"}, html: {class: "form-inline"} do |f| %>
<%= f.text_field :word, class: "form-control" %>
<%= f.text_field :translation, class: "form-control" %>
<%= f.submit "Добавить новую замену", class: "btn btn-default" %>
<% end %>
