<div class="container">
  <h2>Редактирование</h2>
  <%= form_for @translation, html: {class: "form-inline "} do |f| %>
  <%= f.text_field :word, class: 'form-control' %>
  <%= f.text_field :translation, class: 'form-control' %>
  <%= f.submit "Изменить", class: "btn btn-default" %>
  <% end %>
</div>
