<div class="container">
  <h2>Словарь</h2>
  <%= render partial: "input_form", :locals => {:translation => @translation} %>
  <table class="table">
    <thead>
      <tr>
        <th>Тег</th>
        <th>Перевод</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if @translations %>
        <% @translations.each do |translation|  %>
          <tr>
            <td><%= translation.word %></td>
            <td><%= translation.translation %></td>
            <td><%= link_to "Изменить", [:edit, translation], class: "btn btn-default" %> <%= link_to "Удалить", translation, method: "delete", class: "btn btn-default" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
