<div class="container">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Название</th>
        <th>Значение</th>
      </tr>
    </thead>
    <tbody>
      <% if response %>
        <% response.each do |key, value|  %>
          <% if key.present? && value %>
            <% if value.is_a?(Hash) %>
              <tr>
                <td><%= key %></td>
                <td><%= render partial: 'table', locals:{ response: value} %></td>
              </tr>
            <% elsif value.is_a?(Array) %>
              <tr>
                  <td><%= key %></td>
                  <td><%= render partial: 'table', locals:{ response: value[0]} %></td>
              </tr>
            <% else %>
              <tr>
                <td><%= key %></td>
                <td><%= value %></td>
              </tr>
          <% end %>
        <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
