<div class="container">
  <%= form_tag "/search", method: "get", class: "form-inline", role:"form" do %>
    <%= label_tag  "Введите кадастровый номер:" %>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "77:7:13007:12879" %>
    <%= submit_tag "Поиск", class: "btn btn-primary" %>
  <% end %>
</div>
<div class="container">
  <%= render partial: 'table', locals:{ response: @response} %>
</div>
