<p class="lead"> <%= name %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Название</th>
        <th>Значение</th>
      </tr>
    </thead>
    <tbody>
      <% elements&.each do |key, value|  %>
        <% if key.present? && value %>
          <tr>
            <td><%= key %></td>
            <td><%= value %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
